<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> CO2 Emissions predictions</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>
	<h1>Predict CO2 Emission of Vehicles</h1>
	 <h3> Enter the following values to predict the CO2 emission from the vehicle</h3>
	<div class="container"> 

		<div class="login">
			<div class="left">
			<div class="right">
				<h2> CO2 predictions</h2>
				<form action="{{ url_for('predict')}}"method="post">
				<input type="text" class="field" name="ENGINE SIZE" placeholder="Engine Size" required ="required">

				<input type="text" class="field" name="cylinders" placeholder="Cylinders" required="required">

				<input type="text" class="field" name="fuel" placeholder="Fuel" required =" required">
				<button class="btn"> PREDICT</button>
</form>

<br>
<br>

		</div>
	</div>
	</div>
</div>



{{prediction_text}}

	

</body>
</html>